body {
	font: black;
	font-size: 14px;
	background: #F3EBE9;
	font-family: "Times New Roman";
}

h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: cursive, Helvetica, sans-serif;
}


/* 
